:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: gray;
}

html {
  padding: 5%;
  margin: auto;
  body {
    width: 100%;
    height: 100%;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      white-space: nowrap;
      margin: auto;
      .top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        white-space: nowrap;
        margin-top: 3vh;
        #showMenu {
          width: 173px;
          height: 5vh;
          background-color: lightgrey;
          h4 {
            margin: 0;
          }
        }
        #courseButtonsContainer {
          margin: auto;
          display: none;
          .courseButtons {
            width: 173px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: auto;
            margin-top: 2%;
            margin-bottom: 2%;
          }
        }
      }
      .dishes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80vw;
        .dish {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 2%;
          img {
            border-radius: 50%;
          }
          .dishDesc {
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: normal;
            text-align: center;
          }
          .dishPrice {
            text-align: left;
          }
        }
      }
    }
  }
}
