#container {
    display: grid;
    grid-template-rows: 44px auto;
  }
  
  #container div {
    background-color: orange; 
    margin: 5px; 
  }
  
  #menu {
    color: white; 
    display: grid; 
    /*grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr); 
    justify-items: center; 
    align-items: center; 
    
  }
  
  
  #featured {
    padding: 10px; 
  }