#container {
  display: grid;
  grid-template-rows: 44px auto;
}

#container div {
  background-color: orange;
  margin: 5px;
}

#menu {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}

#featured {
  padding: 10px;
}

.authors {
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}
