body {
  height: auto;
  width: auto;
  position: relative;
  background: blue;
}

#container {
  height: auto;
  width: auto;
  padding: 10vh;
}

#container,
.student,
#name,
#header,
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fitz {
    font-family: 'Oswald', sans-serif;
}

#p-fitz {
    padding: 5vw;
    padding-bottom: 0;
    padding-top: 0;
}

#fitz-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.fitz-container {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: auto;
    border: 1px solid gray;
    background: green;
    border-radius: 15%;
}

#fitz-image {
    height: auto;
    width: auto;
    display: flex;
    padding: 3vh;
}

#snoopy-image {
    max-width: 20vw;
    border-radius: 15%;
}
