html, body {
    height: 100%;
    width: 100%;
    padding: 0;
}

.container {
    height: 80vh;
    width: 80vw;
    background-color: gray;
    margin: auto;
    h1 {
        text-decoration: underline;
        font-weight: 500;
        margin: 3vh;
        text-align: center;
    }
    p {
        margin: 3vh
    }
}