:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    background-color: gray;
  }

html {
  body {
    .container {
      width: 90%;
      height: 90%;
      padding: 0;
      margin: auto;
      .top,
      .middle,
      .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        .header {
            text-align: center;
        }
        .content {
            text-align: justify;
        }
      }
    }
  }
}
