extends layout


block content
  .container
    .top
      #title
        h1 Trips with Express + Pug
      h3 Login
      .register
        button
            a(href="/user") Register
      .tripForm
        form(action="/login", method="POST")
          input(type="text" placeholder="Name" name="name")
          input(type="password" placeholder="Password" name="password")
          input(type="submit")
      .search

    .middle


    .bottom
