extends layout


block content
  .container
    .top
      #title
        h1 Trips with Express + Pug
      h3 Register
      .tripForm
        form(action="/register", method="POST")
          input(type="text" placeholder="City" name="name")
          input(type="password" placeholder="State" name="password")
          input(type="submit")
      .search

    .middle


    .bottom
