:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: darkgray;
}

#index {
  display: none;
}

html,
body {
  height: inherit;
  padding: 0;
  margin: 0;
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    .top {
      text-align: center;
      .signout {
        margin: 48px;
        button {
          padding: 8px;
          border-radius: 8px;
        }
      }
      .api {
        display: grid;
        margin: 48px;
        button {
          padding: 8px;
          border-radius: 8px;
        }
        a {
          text-decoration: none;
          color: black;
          padding-left: 100px;
          padding-right: 100px;
        }
      }
      .register {
        margin: 16px;
        a {
          text-decoration: none;
          color: black;
        }
      }
      form {
        display: grid;
        input {
          padding: 8px;
          background-color: lightgray;
        }
      }
      .search {
        form {
          margin-top: 16px;
        }
      }
    }
    .middle {
      text-align: center;
      display: grid;
      .trip {
        display: grid;
        background-color: lightgray;
        border-radius: 16px;
        margin: 16px;
        .tripButtons {
          display: flex;
          justify-content: space-around;
        }
        .tripImg {
          display: grid;
          margin: 16px;
          img {
            border-radius: 16px;
          }
        }
      }
    }
  }
}
