:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: darkgray;
}

html,
body {
  height: inherit;
  padding: 0;
  margin: 0;
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    .top {
      text-align: center;
      form {
        display: grid;
        input {
          padding: 8px;
          background-color: lightgray;
        }
      }
    }
    .middle {
      text-align: center;
      display: grid;
      .trip {
        display: grid;
        background-color: lightgray;
        border-radius: 16px;
        margin: 16px;
        .tripImg {
          display: grid;
          margin: 16px;
          img {
            border-radius: 16px;
          }
        }
      }
    }
  }
}
