:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }
  
  html {
    width: 100%;
    height: 100%;
    padding: 0%;
    body {
      width: 100%;
      height: 100%;
      background-color: gray;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .task {
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(45, 155, 213, 1);
        input,
        button {
          margin: 2vw;
        }
        h5 {
          margin-left: 1vw;
          margin-right: 1vw;
          display: flex;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
        }
      }
      h3 {
        white-space: nowrap;
      }
      .top {
        display: grid;
        margin: 5%;
        text-align: center;
        form {
            display: grid;
        }
        h3,
        input,
        button {
          margin: 3%;
          padding: 8px;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5%;
        ul {
            display: grid;
            text-align: center;
            padding: 0;
        }
        li {
            list-style: none;
            padding: 4px;
        }
      }
      .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5%;
      }
    }
  }