

.container {
  margin: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.link {
}

#home {
  display: inline-block;
  padding-left: 7vw;
  padding-right: 9vw;
}

#categories {
  display: inline-block;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1vh;
}

.blue {
  background: rgb(62, 162, 255);
  color: white;
}

#lighter {
  opacity: 0.5;
}

.content-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 95%;
  margin: auto;
  padding: 2vh;
}

.categories-body {
    display: grid;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
    padding: 5vh;
}

.row {
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1%;
}

.col {
  margin: 1%;
}

.grey-box {
  background: grey;
}

.grey-box,
.content-box {
  padding: 1vh;
}

.blue-text {
  color: rgb(62, 162, 255);
}

.yellow-bar {
  background: rgb(255, 142, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

li {
  padding-left: 1vw;
}

a {
    text-decoration: none;
    font-size: 1.75vh;
    color: white;
}

@media only screen and (max-height: 900px) {
    a {
        font-size: 1em;
    }
    li {
        padding-right: 1vw;
    }
}

#js {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#c-sharp {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#swift {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#db {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#python {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid-box {
    width: 15vw;
    height: 15vh;
    font-size: 0.60em;
}

@media only screen and (max-width: 500px) {
    .grid-box {
        height: 10vh;
        width: 20vw;
        font-size: 0.4em;
    }
    .nav-content {
        font-size: 0.7em;
    }
}



@media only screen and (min-width: 930px ) {
  .content {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}