extends layout

mixin movie(movieObj)
  .movie
    .movieInfo
      h5 #{movieObj.title}
      h6 #{movieObj.year}
    .moviePoster
      img(src=`${movieObj.posterUrl}`)

block content
  .container
    for movie in movies
      +movie(movie)


