* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  .innerContainer {
    display: grid;
    justify-content: center;
  }
}
