html {
  width: 100%;
  height: 100%;
  padding: 0%;
  body {
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .task {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(45, 155, 213);
      input,
      h5,
      button {
        margin: 2vw;
        transition: 0.25s;
      }
      button:hover {
        transform: scale(1.1);
      }
    }
    h3 {
      white-space: nowrap;
    }
    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5%;
      h3,
      input,
      button {
        margin: 3%;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .middle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 5%;
    }
    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 5%;
    }
  }
}
