extends layout


block content
    .container-fluid
        .container
            #title.text-center
                h1 Blogs with Express + Pug
                h3 Login
            .form-group
                form(action="/login", method="POST")
                    input(class="form-control" type="text" placeholder="Name" name="name" required)
                    input(class="form-control" type="password" placeholder="Password" name="password" required)
                    input(class="form-control" type="submit")