extends layout


block content
    .container
        .content
            #title
                h1 Blogs with Express + Pug
            h3 Login
            .register
                button
                    a(href="/user") Register
            .login
                form(action="/login", method="POST")∏
                    input(type="text" placeholder="Name" name="name")
                    input(type="password" placeholder="Password" name="password")
                    input(type="submit")∏