:root {
  font-family: "Rubik", sans-serif;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .navbar {
    margin: auto;
    
  }
  #input-text {
    font-size: 3vh;
    max-width: 60vw;
  }
}

body {
  padding: 2vw;
  font-size: 2vh;
  background: linear-gradient(25deg, bisque, blue);
}

ul:hover {
  transform: scale(1.1);
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.logo {
  background: linear-gradient(25deg, red, blue);
  border-radius: 50%;
}

.logo:hover {
  background: linear-gradient(-25deg, red, blue);
}

h1,
ul {
  padding: 1vw;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(25deg, skyblue, bisque);
  background-repeat: no-repeat;
  border: 1vh solid;
  border-radius: 25%;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10vh;
}

.buy-product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  max-width: 30vw;
  max-height: 20vh;
}

#cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1vh solid;
  background: linear-gradient(25deg, red, blue);
  margin-right: 5vw;
}

#cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
}

#cart-header {
  text-decoration: underline;
}

.cart-button {
  display: flex;
  font-size: 4vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(25deg, red, blue);
  width: 40vw;
  height: 30vh;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vw;
}

.removeButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: gray;
  margin: 1vw;
}

#cart-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3vh;
  padding: 2vw;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
}

#input-text {
  height: auto;
  width: 80vw;
}

#user-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50vw;
  margin: auto;
  padding: 5vh;
}

#services-header,
#employees-header,
#events-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services,
.service,
.employees,
.employee,
.events,
.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services,
.employees,
.events {
  margin: auto;
  max-width: 50vw;
}

.service-heading,
.employee-heading,
.event-heading {
  text-decoration: underline;
}

.events,
.event-heading {
  max-width: 60vw;
}
