:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: darkgray;
}

html {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .container {
      height: 100%;
      width: 100%;
      padding: 0;
    }
    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 16px;
      button,
      input {
        margin: 8px;
      }
      .newOrder {
        border-bottom: solid;
        border-top: solid;
      }
    }
    .middle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 5%;
      #orderList {
        width: 300px;
        margin: auto;
        #noOrder {
          margin: auto;
          text-align: center;
        }
        .order {
          display: inline;
        }
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    text-align: center;
  }
}
