extends layout

block content
  .container
    .top
      #title
        h1 Todo with Express + Jade
      h3 Enter Task
      form(action="/addTask", method="POST")
        input(type="text" id="enter-task-input" placeholder="New Task" name="taskName")
        input(type="submit" id="add-task")
    .middle#pending
      h3 Pending Tasks
      ul
        for task, index in pendingTasks
          li
            .task
              input(type="checkbox")
              #{task.taskName}
              button Remove

    .bottom#completed
      h3 Completed Tasks
      ul
        for task in completedTasks
          li
          .task
          input(type="checkbox")
          #{task.taskName}
          button Remove

